<div class="row" id="footer" style="margin: 0 0 0 0; padding: 0 0 0 0">
	<div class="col" style="float: none; margin: 0 auto; padding: 0 0 0 0; width: 100%">
		<a href="#" style="color: grey">Impressum</a> <small
			class="text-muted">|</small> <a href="#" style="color: grey">Terms
			of Use</a> <small class="text-muted">|</small> <a href="#"
			style="color: grey">Privacy</a> <small class="text-muted">|</small> <a
			href="#" style="color: grey">About Us</a> <small class="text-muted">|</small>
		<a href="#" style="color: grey">Career</a> <small class="text-muted">|</small>
		<a href="#" style="color: grey">Site Map</a>
	</div>
</div>