@(form: play.data.Form[models.HomePageSearchForm])(menubar: Html)

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Search</title>

		<!-- Bootstrap -->

		<link href="@routes.Assets.at("fonts/glyphicons-halflings-regular.svg")">
		<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
		<link href="@routes.Assets.at("stylesheets/bootstrap-spinedit.css")" rel="stylesheet">

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-spinedit.js")" ></script>

		<script src="@controllers.routes.Application.jsRoutes()" type="text/javascript"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body >

		@menubar

		@helper.form(action = routes.HomeController.search()) {
		<div class="row">

			<div class="panel panel-default" style="center">
				<div class="panel-heading" style="text-align:center">
					Pricing, Rental Time
				</div>
				<div class="panel-body">

					<div class="row">
						<div class="form-group">
							<div class="col col-md-3">
								<input id="city" class="form-control" type="text" name="city" value='@form("city").value' autofocus="" placeholder="City" >
							</div>

							<div class="col col-md-4">
								<div id="radius" class="input-group">
									<span class="input-group-addon">space size (min):</span>
									<input id="spacesize" class="form-control" type="number" name="spacesize" value='@form("spacesize").value' min="1" value="5" max="100" step="0.5">
									<span class="input-group-addon">m</span>
								</div>
							</div>
							<div class="col col-md-4">
								<button type="submit" class="btn btn-default btn-lg" name="action" value="submit">
									search
								</button>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>
		}
