@(form: play.data.Form[models.HomePageSearchForm])(menubar: Html)(footer: Html)

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

		<title>Store 'n Rent</title>

		<!-- Bootstrap -->

		<link href="@routes.Assets.at("fonts/glyphicons-halflings-regular.svg")">
		<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
		<link href="@routes.Assets.at("stylesheets/bootstrap-spinedit.css")" rel="stylesheet">

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-spinedit.js")" ></script>

		<script src="@controllers.routes.Application.jsRoutes()" type="text/javascript"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		

	</head>

	<body>

		@menubar

<!-- Intro -->
	<div class="container text-center" >
	
		<div style="background-image:url(@routes.Assets.at("images/Slideshow2.jpg")" alt="Store 'n Rent">		
			<div class="container">
				<div class="row">
					<h1 style="color: #fff"><label>Find a storage area close to you:</label></h1>
					<h2 class="tagline" style="color: #fff">Rent lower priced storage area in over 40 cities</h2>
				</div>
			</div>
		
			<div class="row" style="padding: 10% 6% 10% 6%; margin: 0 auto; float: none">
				@helper.form(action = routes.HomeController.search()) {
				<form class="form-inline" role="form" >

					<div class="col-md-3" style="text-align: center; padding: 0 2% 0 0">
						<input id="city" class="form-control" type="text" name="city" value='@form("city").value' 
							autofocus="" placeholder="City" >
					</div>
					<div class="col-md-3" style="text-align: center; padding: 0 2% 0 0">
						<input id="postcode" class="form-control" type="text" name="postCode" value='@form("postCode").value' 
							autofocus="" placeholder="Post  Code" >
					</div>
	
					<div class="col-md-2" style="text-align: center; padding: 0 2% 0 0">
						<div id="radius" class="input-group">
							<input id="radiusinput" class="form-control" type="number" name="radius" value='@form("radius").value'min="1.0"max="100.0" step="0.5" 
								placeholder="Circuit">	
							<span class="input-group-addon">km</span>
						</div>
					</div>
	
					<div class="col-md-2" style="text-align: center; padding: 0 2% 0 0">
						<div id="spacesizeinput" class="input-group">
							<input id="spacesize" class="form-control" type="number" name="spacesize" placeholder="Spacesize" 
								value='@form("spacesize").value' min="1" value="5" max="100" step="0.5">
							<span class="input-group-addon">m<sup>3</sup></span>
						</div>
					</div>

					<button type="submit" class="btn btn-default" name="action" value="submit" 
						style="float: center" >
						Search
					</button>
				</form>
				}			
			</div>
		
		</div>
				
		<br> <br>
		<h2 class="thin">That's how it works</h2>
		<p class="text-muted">
			Rent a low-budget storage area at Store N' Rent in all over Germany<br> 
		</p>
	</div>
	<!-- /Intro-->
	
	<div class="jumbotron top-space">
		<div class="container text-center">
			
			<h3 class="text-center thin">Step by step: </h3>
			
			<div class="row" style="margin: 0 auto; float: none">
				<div class="col-md-4 highlight">
					<div class="h-caption"><h4><img class="img-circle" src="@routes.Assets.at("images/Loupe.png")" alt="Store 'n Rent" />Searching</h4></div>
					<div class="h-body text-center">
						<p>Search for the right storage area</p>
					</div>
				</div>
				<div class="col-md-4 highlight">
					<div class="h-caption"><h4><img class="img-circle"src="@routes.Assets.at("images/Person.png")" alt="Store 'n Rent" />Contacting</h4></div>
					<div class="h-body text-center">
						<p>Contact the offerer</p>
					</div>
				</div>
				<div class="col-md-4 highlight">
					<div class="h-caption"><h4><img class="img-circle" src="@routes.Assets.at("images/Check.png")" alt="Store 'n Rent" />Booking</h4></div>
					<div class="h-body text-center">
						<p>Rent the perfect storage area</p>
					</div>
				</div>
			</div> <!-- /row  -->		
		</div>
	</div>
	
		<div class="container text-center">
			@footer
		</div>
	</body>
</html>