@(form: play.data.Form[models.HomePageSearchForm])(menubar: Html)(footer: Html)

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Store 'n Rent</title>

		<!-- Bootstrap -->

		<link href="@routes.Assets.at("fonts/glyphicons-halflings-regular.svg")">
		<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
		<link href="@routes.Assets.at("stylesheets/bootstrap-spinedit.css")" rel="stylesheet">

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-spinedit.js")" ></script>

		<script src="@controllers.routes.Application.jsRoutes()" type="text/javascript"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	
	<body >

		@menubar

		@helper.form(action = routes.HomeController.search()) {
		<div style="background-image:url(@routes.Assets.at("images/Background.png"))">

		<div class="title" style="text-align: center">
			<h1 style="color: #0800E3">
				<b>Welcome to <br /> Store 'n Rent
				</b>
			</h1>
			<h2 style="color: #0800E3">
				<b>Find a storage area close to you:</b>
			</h2>
		</div>

		<form class="form-inline" role="form">
			<div class="col col-md-3" style="text-align: center">
				<input id="city" class="form-control" type="text" autofocus=""
					placeholder="City">
			</div>

			<div class="col col-md-4" style="text-align: center">

				<div id="radius" class="input-group">
					<span class="input-group-addon"></span> <input id="radiusinput"
						class="form-control" type="number" name="circuit" min="1"
						max="100" step="0.5" placeholder="Circuit"> <span
						class="input-group-addon">km</span>
				</div>
			</div>

			<div class="col col-md-4" style="text-align: center">
				<div id="spacesize" class="input-group">
					<span class="input-group-addon"></span> <input id="spacesizeinput"
						class="form-control" type="number" name="size" min="1" max="100"
						step="0.5" placeholder="Size"> <span
						class="input-group-addon">m<sup>3</sup></span>
				</div>
			</div>

			<button id="search" class="btn btn-default"
				style="vertical-align: top; float: right" type="button">
				Search</button>
			<div class="row" style="text-align: center">
				<h2 style="color: #0800E3">
					<b >That's how it works:</b>
				</h2>
			</div>
		</form>

		<form class="form-inline" role="form">
			<div id="images">
				<img class="img-circle" src="@routes.Assets.at("images/Loupe.png")" alt="Store 'n Rent" /> 
				<img class="img-circle"src="@routes.Assets.at("images/Person.png")" alt="Store 'n Rent" />
				<img class="img-circle" src="@routes.Assets.at("images/Check.png")" alt="Store 'n Rent" />
			</div>
		</form>
	</div>
	@footer
	
	}
	</body>
</html>
