@(form: Form[models.LoginForm])(menubar: Html)

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		
		<title>Store 'n Rent</title>
		
		<!-- Bootstrap -->
		
		<link href="@routes.Assets.at("fonts/glyphicons-halflings-regular.svg")">
		<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
		<link href="@routes.Assets.at("stylesheets/bootstrap-spinedit.css")" rel="stylesheet">
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-spinedit.js")" ></script>
		
		<script src="@controllers.routes.Application.jsRoutes()" type="text/javascript"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		
		<style type="text/css">
			.row>.col-md-1 {
				text-align: left;
			}
		</style>
	</head>

	<body>
		@if(form.hasGlobalErrors) {
			<p class="error">@form.globalError.message</p>
		} 
		@if(flash.contains("error")) {
			<p class="alert alert-danger">@flash.get("error")</p>
		}
		
		@menubar
	
		<div class="container text-center">
			<div class="row">
				<div class="panel panel-default" >
					<div class="panel-heading" style="background: #0800E3; color: #fff; font-size: 24px">
						Sign in
					</div>
					<div class="panel-body" style="color: #0800E3; text-align: center;">
						Please enter login data
					</div>
				</div>
			</div>
			
			@helper.form(routes.Application.authenticate) {
				<div class="form-group">
					<div class="row">
						<div class="col-md-1 col-md-offset-4">
							Email
						</div>
						<div class="col-md-4">
							<input type="email" name="email" placeholder="Email" value="@form("email").value" autofocus>
						</div>
					</div>
					<div class="row">
						<div class="col-md-1 col-md-offset-4">
							Password
						</div>
						<div class="col-md-4">
							<input type="password" name="password" placeholder="Password" autofocus>
						</div>
					</div>
				</div>
				<div>
					<button type="submit">Login</button>
				</div>
			}
		</div>

	</body>
</html>