@(form: play.data.Form[models.OfferForm])(menubar: Html)

<html>
	<head>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

		<title>Store 'n Rent - Offer create</title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">

		<!-- Custom styles for this template -->
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/image.css")">
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-datetimepicker.min.css")">

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")"></script>

		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.carouFredSel-6.0.4-packed.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-datetimepicker.min.js")"></script>
		
	</head>

	<body>

		<!-- Upper Menu Bar -->
		@menubar

		<!-- Main Container -->
		<div class="container text-center">
			@helper.form(action = routes.OfferController.create(), 'enctype -> "multipart/form-data") {
			<div class="row">

				@if(form.hasGlobalErrors) {
				<p class="error">
					@form.globalError.message
				</p>
				}

				@if(form.hasErrors) {
				<p class="error">
					@flash.get("error")
				</p>
				}

			</div>

			<div class="row">
				<div class="panel panel-default" >
					<div class="panel-heading" 
						style="background: #0800E3; color: #fff">
						Header, Subheader
					</div>
	
					<div class="panel-body" 
						style="color: #0800E3; font-size: 20px; padding: 1% 1% 1% 0">
						
						<div class="form-group row" style="margin: 0 0 0 1%">
							<div class="col-md-2">
								<p>Header</p>
							</div>
							
							<div class="col-md-10">
								<input id="header" class="form-control" type="text" name="header" 
									placeholder="Header" value='@form("header").value' autofocus="" >
							</div>
						</div>
						
						<div class="form-group row" style="margin: 1% 0 0 1%">
							<div class="col-md-2">
								<p>Subheader</p>
							</div>
							
							<div class="col-md-10">
								<input id="subheader" class="form-control" type="text" name="subHeader" 
									placeholder="Subheader" value='@form("subHeader").value' >
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-6" style="padding-right: 25px; padding-left: 20px">
				<div class="row">
					<div class="panel panel-default" >
						<div class="panel-heading" >
							Pictures
						</div>

						<div class="panel-body">
							<div class="form-group" style="padding: 0 3% 0 3%">
								<p class="help-block">Please select (a) picture(s) to upload.</p>
								<input type="file" multiple id="pics" name="pics">
								
								<script type="text/javascript">
									var control = document.getElementById("pics");
									control.addEventListener("change", function(event) {
									    // When the control has changed, there are new files
									    var i = 0,
									        files = control.files,
									        len = files.length;
									    if (len > 5) {
									    	alert("Maximum number of uploadable images: 5!");
									    	control.value = null;
									    }
									}, false);
								</script>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="panel panel-default" >
						<div class="panel-heading" >
							Description
						</div>

						<div class="panel-body" style="padding-top: 1%">
							<p style="text-align: center">
								<label>Describe your storage area here</label>
							</p>
							
							<div class="form-group" style="padding: 0 3% 0 3%">
								<textarea id="description" class="form-control" rows="30" name="description" 
									value='@form("description").value' 
									style="resize: none; text-align: left; ">@form("description").value</textarea>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6" style="padding-left: 25px; padding-right: 20px">
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading" style="text-align:center">
							Pricing, Rental Time
						</div>
						
						<div class="panel-body" style="padding: 1% 0 1% 0">
							<div class="form-group row" >
								<div class="col-md-2 col-md-offset-1 align-center">
									Price
								</div>
								
								<div class="input-group col-md-7" >
									<input id="price" class="form-control" value='@form("price").value' name="price" type="number" min="1" value="5" max="100" step="0.5">
									<span class="input-group-addon">&euro; /day</span>
								</div>
							</div>
							
							<div class="form-group row" >
								<div class="col-md-2 col-md-offset-1 align-center">
									Size
								</div>
								
								<div class="input-group col-md-7">
									<input id="spacesize" class="form-control" value='@form("spacesize").value' name="spacesize" type="number" min="1" value="5" max="100" step="0.5">
									<span class="input-group-addon">m<sup>3</sup></span>
								</div>
							</div>

							<div class="form-group row" >
								<div class="col-md-2 col-md-offset-1 align-center">
									From
								</div>
								
								<div class="input-append date col-md-7">
									<div id="dtpfrom" class="input-group">
										<input id="dtpfrominput" class="form-control" value='@form("offerFrom").value' name="offerFrom" type="text">
										<span class="input-group-addon">
											<span class="add-on" style="cursor: pointer;"> 
												<span class="glyphicon glyphicon-calendar" ></span> 
											</span>
										</span>
									</div>

									<script type="text/javascript">
										$(function() {
											$('#dtpfrom').datetimepicker({
												format : 'dd.MM.yyyy',
												language : 'pt-BR'
											});
										});
									</script>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-md-2 col-md-offset-1 align-center">
									Until
								</div>
								
								<div class="input-append date col-md-7">
									<div id="dtpto" class="input-group">
										<input id="dtptoinput" class="form-control"  type="text"  name="offerTo" value='@form("offerTo").value'>
										<span class="input-group-addon">
											<span class="add-on" style="cursor: pointer;"> 
												<span class="glyphicon glyphicon-calendar" ></span> 
											</span>
										</span>
									</div>

									<script type="text/javascript">
										$(function() {
											$('#dtpto').datetimepicker({
												format : 'dd.MM.yyyy',
												language : 'pt-BR'
											});
										});
									</script>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading" style="text-align:center">
							Address Information
						</div>

						<div class="panel-body" style="padding: 1% 1% 1% 0">
							<div class="form-group row" >
								<div class="col-md-2 col-md-offset-1 align-center">
									Street, Nr.
								</div>
								
								<div class="col-md-7" style="margin-right: 1%">
									<input id="street" class="form-control" type="text" name="street" value='@form("street").value' placeholder="Street" >
								</div>

								<div class="col-md-1">
									<input id="houseNr" class="form-control" type="text"  name="houseNr" value='@form("houseNr").value'placeholder="Nr.">
								</div>
							</div>

							<div class="form-group row" >
								<div class="col-md-2 col-md-offset-1 align-center">
									City
								</div>
								
								<div class="col-md-7" style="margin-right: 1%">
									<input id="city" class="form-control" type="text" name="city" value='@form("city").value' placeholder="City" >
								</div>
							</div>

							<div class="form-group row" >
								<div class="col-md-2 col-md-offset-1 align-center">
									Postcode
								</div>
								
								<div class="col-md-7" >
									<input id="postCode" class="form-control" type="text" name="postCode" value='@form("postCode").value' placeholder="Postcode" >
								</div>
							</div>

							<div class="form-group row" >
								<div class="col-md-2 col-md-offset-1 align-center">
									Country
								</div>
								
								<div class="col-md-7" style="margin-right: 1%">
									<input id="country" class="form-control" type="text" name="country" value='@form("country").value' placeholder="Country" >
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="panel panel-default" style="center">
						<div class="panel-heading" style="text-align:center">
							Action
						</div>
						<div class="panel-body">
							<br>
							<div class="form-group row"> 
								<div class="col-md-2" style="padding-left: 25px">
									<button type="submit" id="Save" class="btn btn-default btn-lg" name="action" value="submit" style="border: 0px">
										<span class="glyphicon glyphicon-ok" style="font-size: 24px" > </span>
										<br>
										Save
									</button>
									<script type="text/javascript">
										$(function() {
											$('#Save').click(function(event) {
												var control = document.getElementById("pics");
												var files = control.files,
										        	len = files.length;
											    if (len == 0) {
											    	alert("Please select a picture to upload!");
											    	event.stopPropagation();
											    }
											});
										});
									</script>
									<!-- <span class="add-on" style="cursor: pointer;">  </span> -->
								</div>
								
								<div class="col-md-2" style="padding-left: 25px">
									<button type="submit" class="btn btn-default btn-lg" name="action" value="discard" style="border: 0px ">
										<span class="glyphicon glyphicon-trash" style="font-size: 24px" > </span>
										<br>
										Discard
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			}
		</div>
	</body>

</html>
