@(offers: List[Offer])

<div id="searchResults" style="text-align:center">
	<table class="table table-striped">
		<thead>
			<tr>
				<th style="text-align:center">Picture</th>
				<th style="text-align:center">Description</th>
				<th style="text-align:center">Timeslot</th>
				<th style="text-align:center">Distance</th>
				<th style="text-align:center">Size</th>
				<th style="text-align:center">Price<br>(&euro; / per day) </th>
			</tr>
		</thead>
	
		<tbody>
			@if(offers == null){	
				<table id="resultTable" class="table table-striped">
					<tr>
						<td style="text-align: center">No results found.</td>
					</tr>
				</table>
			}else{
		
				@for(offer <- offers){
					<tr style="text-align:center">
						@if(offer.pictures == null ) {
							<td style="text-align:center">
								<img height="60" width="80" src="@routes.Assets.at("images/defaultPicture.png")"  />
							</td>
						} else {
							<td style="text-align:center">
								<img src=@{routes.Application.renderImage(offer.pictures.get(0).id)} alt="@offer.header"
									height="100" width="auto">
							</td>
						}
						<td><a href="@routes.OfferController.index(offer.id)">@offer.description</a></td>
						<td>
						@{
							var date = offer.offerFrom
							var format = new java.text.SimpleDateFormat(appinfo.GlobalValues.TIMEFORMAT)
							var strDate = format.format(date);
							strDate
						}
						-
						@{
							var date = offer.offerTo
							var format = new java.text.SimpleDateFormat(appinfo.GlobalValues.TIMEFORMAT)
							var strDate = format.format(date);
							strDate
						}
						</td>
						<td>about @("%.2f".format(offer.distance)) km away</td>
						<td>@offer.spaceSize</td>
						<td>@offer.price</td>
					</tr>
				}
			}	
		</tbody>
	</table>
</div>