@(city: String)(postcode: String)(radius: Double)(spacesize: Double)(longitude: Double)(latitude: Double)(offers: Html)(menubar: Html)

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta content="text/html; charset=utf-8" http-equiv="content-type">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

		<title>Store 'n Rent - Search</title>

		<!-- Bootstrap -->
		<link href="@routes.Assets.at("fonts/glyphicons-halflings-regular.svg")">
		<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
		<link href="@routes.Assets.at("stylesheets/slider.css")" rel="stylesheet">
		<link href="@routes.Assets.at("stylesheets/bootstrap-datetimepicker.min.css")" rel="stylesheet">
		<link href="@routes.Assets.at("stylesheets/bootstrap-spinedit.css")" rel="stylesheet">

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-slider.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-datetimepicker.min.js")" ></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-spinedit.js")" ></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/ol/OpenLayers.js")" ></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/AnimatedCluster.js")" ></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/openStreetMap.js")" ></script>
		<script src="http://maps.google.com/maps/api/js?sensor=false&language=en"></script>

		<script src="@controllers.routes.Application.jsRoutes()" type="text/javascript"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<script type="text/javascript">
		
		var inputradius = null;
		@if(radius != null){
			inputradius = @radius;
		}
		
		@if(longitude != null){
			var lon = @longitude;
		}else{
			var lon = 11.56645;
		}
		
		@if(latitude != null){
			var lat = @latitude;
		}else{
			var lat = 48.14188;
		}
			
			var zoom = 12;

			OpenLayers.Lang.setCode('de');
			var map;

			function onPopupClose(evt) {
				// 'this' is the popup.
				var feature = this.feature;
				if (feature.pois) {// The feature is not destroyed
					selectControl.unselect(feature);
				} else {// After "moveend" or "refresh" events on POIs layer all
					//     features have been destroyed by the Strategy.BBOX
					this.destroy();
				}
			}

			function onFeatureSelect(evt) {
				feature = evt.feature;

				line = '';
				
				if(feature.cluster.length == 1){
					line = line + '<div class="popup"> <h2> <a href=" /offer/show/'+feature.cluster[0].attributes.id+'">'+feature.cluster[0].attributes.header+'</a><h2>  From: '+ feature.cluster[0].attributes.fromDate +'<br> To: '+feature.cluster[0].attributes.toDate +'<br> Size: '+feature.cluster[0].attributes.size+' m<sup>3</sup>  Price: '+feature.cluster[0].attributes.price+' &euro; <br> Distance:  ca. '+feature.cluster[0].attributes.distance+' km away   </div>';

				}else{
					for (cdata in feature.cluster) {
					
					line = line + '<tt>#' + feature.cluster[cdata].data.id + '</tt>   <b> <a href=" /offer/show/'+feature.cluster[cdata].attributes.id+'">'+feature.cluster[cdata].attributes.header+'</a></b> Price: '+feature.cluster[cdata].attributes.price+' &euro; <br>';
									if (cdata > 10) break;
					}
				}
				
				popup = new OpenLayers.Popup("Offer", feature.geometry.getBounds().getCenterLonLat(), new OpenLayers.Size(450, 200), line, null, true, onPopupClose);

				console.log(feature.cluster[0].attributes);

				feature.popup = popup;
				popup.feature = feature;
				map.addPopup(popup, true);
			}

			function onFeatureUnselect(evt) {
				feature = evt.feature;
				if (feature.popup) {
					popup.feature = null;
					map.removePopup(feature.popup);
					feature.popup.destroy();
					feature.popup = null;
				}
			}

			function init() {
				OpenLayers.Util.onImageLoadError = function() {
					//this.src = '@routes.Assets.at("images/gh.png")';
				};

				OpenLayers.Util.onImageLoadErrorColor = 'black';

				map = new OpenLayers.Map("map", {
					controls : [new OpenLayers.Control.Navigation(), new OpenLayers.Control.LayerSwitcher({
						roundedCorner : true
					}), new OpenLayers.Control.PanZoomBar(), new OpenLayers.Control.Attribution(), new OpenLayers.Control.Permalink(), new OpenLayers.Control.MousePosition(), new OpenLayers.Control.KeyboardDefaults(), new OpenLayers.Control.ScaleLine()],
					units : 'm',
					numZoomLevels : 20,
					maxResolution : 156543.0339,
					maxExtent : new OpenLayers.Bounds(-20037508, -20037508, 20037508, 20037508.34),
					//projection : new OpenLayers.Projection("EPSG:900913"),
					//displayProjection : new OpenLayers.Projection("EPSG:900913")
					projection : new OpenLayers.Projection("EPSG:4326"),
					displayProjection : new OpenLayers.Projection("EPSG:4326")
					
				});

				var gsat = new OpenLayers.Layer.Google("Google Satellite", {
					type : google.maps.MapTypeId.SATELLITE,
					numZoomLevels : 22
					
				});
				var gmap = new OpenLayers.Layer.Google("Google Streets", {
					numZoomLevels : 22,
					isBaseLayer : true

				});

				
				var colors = {
					verylow : '#00FF00', // < 5
					low : '#FFFF00', //  5 ..  15
					middle : '#FA9600', // 15 ..  50
					high : '#FA0000', // 50 .. 100
					veryhigh : '#AF0064' // > 100
				};

				// Define five rules to style the cluster features.
				var verylowRule = new OpenLayers.Rule({
					filter : new OpenLayers.Filter.Comparison({
						type : OpenLayers.Filter.Comparison.LESS_THAN,
						property : "count",
						value : 5
					}),
					symbolizer : {
						fillColor : colors.verylow,
						fillOpacity : 0.9,
						strokeColor : colors.verylow,
						strokeOpacity : 0.5,
						strokeWidth : 12,
						pointRadius : 8,
						label : "${count}",
						labelOutlineWidth : 0,
						fontColor : "#000000",
						fontOpacity : 0.8,
						fontSize : "12px"
					}
				});
				var lowRule = new OpenLayers.Rule({
					filter : new OpenLayers.Filter.Comparison({
						type : OpenLayers.Filter.Comparison.BETWEEN,
						property : "count",
						lowerBoundary : 5,
						upperBoundary : 15
					}),
					symbolizer : {
						fillColor : colors.low,
						fillOpacity : 0.9,
						strokeColor : colors.low,
						strokeOpacity : 0.5,
						strokeWidth : 12,
						pointRadius : 10,
						label : "${count}",
						labelOutlineWidth : 0,
						fontColor : "#000000",
						fontOpacity : 0.8,
						fontSize : "12px"
					}
				});
				var middleRule = new OpenLayers.Rule({
					filter : new OpenLayers.Filter.Comparison({
						type : OpenLayers.Filter.Comparison.BETWEEN,
						property : "count",
						lowerBoundary : 15,
						upperBoundary : 50
					}),
					symbolizer : {
						fillColor : colors.middle,
						fillOpacity : 0.9,
						strokeColor : colors.middle,
						strokeOpacity : 0.5,
						strokeWidth : 12,
						pointRadius : 15,
						label : "${count}",
						labelOutlineWidth : 0,
						fontColor : "#000000",
						fontOpacity : 0.8,
						fontSize : "12px"
					}
				});
				var highRule = new OpenLayers.Rule({
					filter : new OpenLayers.Filter.Comparison({
						type : OpenLayers.Filter.Comparison.BETWEEN,
						property : "count",
						lowerBoundary : 50,
						upperBoundary : 100
					}),
					symbolizer : {
						fillColor : colors.high,
						fillOpacity : 0.9,
						strokeColor : colors.high,
						strokeOpacity : 0.5,
						strokeWidth : 12,
						pointRadius : 19,
						label : "${count}",
						labelOutlineWidth : 0,
						fontColor : "#000000",
						fontOpacity : 0.8,
						fontSize : "12px"
					}
				});
				var veryhighRule = new OpenLayers.Rule({
					filter : new OpenLayers.Filter.Comparison({
						type : OpenLayers.Filter.Comparison.GREATER_THAN,
						property : "count",
						value : 100
					}),
					symbolizer : {
						fillColor : colors.veryhigh,
						fillOpacity : 0.9,
						strokeColor : colors.veryhigh,
						strokeOpacity : 0.5,
						strokeWidth : 12,
						pointRadius : 23,
						label : "${count}",
						labelOutlineWidth : 0,
						fontColor : "#ffffff",
						fontOpacity : 0.8,
						fontSize : "12px"
					}
				});

				// Create a Style that uses the previous rules
				var style = new OpenLayers.Style(null, {
					rules : [verylowRule, lowRule, middleRule, highRule, veryhighRule]
				});
				
						
				// Create a vector layers
				var offerlayer = new OpenLayers.Layer.Vector("Offer", {
					protocol : new OpenLayers.Protocol.HTTP({
						//url : '@routes.Assets.at("images/Offer.json")',
						url : "/search/mapData",
						format : new OpenLayers.Format.GeoJSON()
					}),
					renderers : ['Canvas', 'SVG'],
					strategies : [new OpenLayers.Strategy.Fixed(), new OpenLayers.Strategy.AnimatedCluster({
						distance : 50,

						animationMethod : OpenLayers.Easing.Quad.easeOut,
						animationDuration : 15
					})],
					styleMap : new OpenLayers.StyleMap(style)
				});


				map.addLayers([offerlayer, gmap,gsat]);



//make circle, if search was from start site
				if( inputradius != null){

				var circleLayer = map.getLayer("100");
																						
				if(circleLayer != null){
					circleLayer.destroy();
				}
																			
				var circleradius = inputradius * 1000 *1.5;
				var point = new OpenLayers.Geometry.Point(lon,lat).transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913")); 
				var mycircle = OpenLayers.Geometry.Polygon.createRegularPolygon(
    					point,
    					circleradius,
   						50,
   						0
						);

				var	circlefeature = new OpenLayers.Feature.Vector(mycircle);
				
				circleLayer = new OpenLayers.Layer.Vector("Search radius", {
						units: 'm',
						style: { 
						fillColor : "SkyBlue",
						fillOpacity : 0.3,
						strokeColor : "SkyBlue",
						strokeOpacity : 0.5,
						strokeWidth : 3,
								}
						});
											
				circleLayer.id = "100";
				
				circleLayer.addFeatures([circlefeature]);							
				map.addLayers([circleLayer]);

				}
//end circle
//make marker
				var markerLayer = new OpenLayers.Layer.Vector("Marker", {
						units: 'm',
						style :{    	
							fillOpacity : 1,														
    						externalGraphic: '@routes.Assets.at("images/pin.png")', 
    						graphicHeight: 25, 
    						graphicWidth: 21, 
    						graphicXOffset: -12, 
    						graphicYOffset: -25 							 	
    						}
						});
				markerLayer.id = "400";		
				var markerpoint = new OpenLayers.Geometry.Point(lon,lat).transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913")); 
				
				var featurePoint = new OpenLayers.Feature.Vector(markerpoint,{
    						style :{externalGraphic: '@routes.Assets.at("images/pin.png")', 
    						}
    					});
				markerLayer.addFeatures([featurePoint]);
				map.addLayers([markerLayer]);

				selectControl = new OpenLayers.Control.SelectFeature(offerlayer);
				map.addControl(selectControl);
				selectControl.activate();
				offerlayer.events.on({
					'featureselected' : onFeatureSelect,
					'featureunselected' : onFeatureUnselect
				});

				if (! map.getCenter()) {
					var lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
					map.setCenter(lonLat, zoom);
				}
			}

		</script>

		<style type="text/css">
			

			.olImageLoadError {
				/*opacity: 0 !important;*/
				/*filter: alpha(opacity=0) !important;*/
				/*display: none !important;*/
			}

			div.olPopupContent h2 {
				font-family: arial;
				font-size: 120%;
				margin-bottom: 0.5em;
				border-bottom: 1px solid #aaa;
			}

			div.olPopupContent p {
				font-size: 14px;
				font-family: arial;
			}

			.form-group [class*=col-]:first-of-type {
				padding: 0 0 1% 3%;
			}
			
			.form-group [class*=col-]:not(:first-of-type):not(:last-of-type) {
				padding: 0 2% 1% 2%;
			}
			.form-group [class*=col-]:last-of-type {
				padding: 0 3% 1% 0;
			}
			
			hr {
				margin-bottom: 0;
			}
			
			#map-parent {
			    display: inline-block;
			    position: relative;
			    width: 100%;
			}
			#map-parent:after {
			    content: '';
			    display: block;
			    margin-top: 75%;
			}
			#map {
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    background-color: silver;
			}
		</style>

	</head>

	<body onload="init();">

		@menubar

		<!-- Main Container -->
		<div class="container" style="background: #fff">

			<div class="row">
			@if(flash.contains("success")) {
    	<p class="alert alert-success">
        	@flash.get("success")
    	</p>
}
	
			@if(flash.contains("error")) {
				<p class="alert alert-danger">
					@flash.get("error")
				</p>
				}		
			</div>	
			<section class="row">
				<div class="row">
					<div class="panel panel-default" >
						<div class="panel-heading" style="background: #0800E3; color: #fff; text-align: center;font-size: 24px">
							Search for offers
						</div>
					</div>
				</div>

				<!-- begin of map-->
				<div class="col-md-6" style="padding-right: 25px; padding-left: 20px">
					<div class="row">
						<div class="panel panel-default" style="">
							<div class="panel-heading" style="text-align: center">
								Map
							</div>
							<div class="panel-body" id="map-parent">
								<div id="map"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- end of map -->

				<!-- Begin of search input -->
				<div class="col-md-6" style="padding-left: 25px; padding-right: 20px">
					<div class="row">
						<div id="searchWarning">
							<div class="alert alert-warning">
								Please enter a city and postcode!
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" style="text-align: center">
							Pricing, Rental Time
						</div>

						<div class="panel-body">
							<script>
								$("#searchWarning").hide();
							</script>
							
							<div class="col-md-12" style="text-align: center; margin-bottom: 3%">
								<h3>Location</h3>
							</div>
							
							<div class="form-group row">
								<div class="col-md-4">
									From
								</div>
								
								<div class="col-md-4">
									To
								</div>

								<div class="col-md-4">
									Area
								</div>
							</div>
							
							<div class="form-group row">
								<div class="col-md-4">
									@if(city != null){
									<input id="city" class="form-control" type="text" value= "@city" autofocus="" placeholder="City" >
									} else {
									<input id="city" class="form-control" type="text" autofocus="" placeholder="City" >
									}
								</div>
								
								<div class="col-md-4">
									<input id="postcode" class="form-control" type="text" placeholder="Postcode" >
								</div>

								<div class="col-md-4">
									<div class="input-group">
										<input id="radiusinput" class="form-control" type="number"
										@if(radius != null){
										value="@radius"
										} else {
										placeholder="Radius"
										}
										name="size" min="0" value="5" max="100" step="5" style="-moz-appearance: textfield">
										<span class="input-group-addon">km</span>
									</div>
								</div>
							</div>

							<hr>
							
							<div class="col-md-12" style="text-align: center; margin-bottom: 3%">
								<h3>Space</h3>
							</div>
							
							<div class="form-group row">
								<div class="col-md-4">
									Amount
								</div>
								
								<div class="col-md-4">
									From
								</div>

								<div class="col-md-4">
									To
								</div>
							</div>
						
							<div class="form-group row">
								<div class="col-md-4">
									<select id="spacesizeinput" class="form-control">
										<option value="0"> </option>
										<option value="3">1 - 3 m<sup>3</sup></option>
										<option value="5">3 - 5 m<sup>3</sup></option>
										<option value="7">5 - 7 m<sup>3</sup></option>
										<option value="9">7 - 9 m<sup>3</sup></option>
										<option value="50">> 9 m<sup>3</sup></option>
									</select>
								</div>
								
								<div class="col-md-4">
									<div id="dtpfrom" class="input-append date">
										<div class="input-group">
											<input id="dtpfrominput" class="form-control" name="from" type="text" placeholder="From">
											<span class="input-group-addon"> <span class="add-on" style="cursor: pointer;" > <span class="glyphicon glyphicon-calendar" > </span> </span> </span>
										</div>
									</div>

									<script type="text/javascript">
										$(function() {
											$('#dtpfrom').datetimepicker({
												format : '@appinfo.GlobalValues.DATEFORMAT',
												language : 'pt-BR'
											});
										});
									</script>

									

								</div>
								
								<div class="col-md-4">
									<div id="dtpto" class="input-append date" >
										<div class="input-group">
											<input id="dtptoinput" class="form-control" name="to" type="text" placeholder="To">
											<span class="input-group-addon"><span class="add-on" style="cursor: pointer;"> <span class="glyphicon glyphicon-calendar" > </span> </span></span>
										</div>
									</div>

									<script type="text/javascript">
										$(function() {
											$('#dtpto').datetimepicker({
												format : '@appinfo.GlobalValues.DATEFORMAT',
												language : 'pt-BR'
											});
										});
									</script>
								</div>
							</div>

							<hr>
							
							<div class="col-md-12" style="text-align: center; margin-bottom: 3%">
								<h3>Pricing</h3>
							</div>

							<div class="row" style="margin: 0 2% 0 2%; padding: 1% 0 1% 0; text-align: center">
								Price (max.): <b>0 &euro;</b>

								<div class="slider slider-horizontal" style="width: 200px; margin: 0 2% 0 2%">
									<input id="maxPrice" class="span2" type="text" value ="6">
								</div>

								<b>100 &euro;</b>

								<script type="text/javascript">
									$(function() {
										$('#maxPrice').slider({
											min : '0',
											step : '1',
											max : '100',
											value : '6'
										});
									});
								</script>
							</div>
							
							<hr>
							
							<div class="form-group row"  style="margin: 0 2% 0 2%; padding: 1% 0 1% 0; text-align: center">
								
								<div class="col-md-4" style="padding-top: 1%">
									Sorting Order
								</div>	
								
								<div class="col-md-4">
									<select id="orderattribute" class="form-control">
										<option value="1">By distance</option>
										<option value="2">By price</option>
										<option value="3">By size</option>
										<option value="4">By from date</option>
										<option value="5">By to date</option>
									</select>
								</div>	
							</div>
								
							<div style="width: 100%; background: #ddd; text-align:center; margin: 2% 0 0 0; padding: 1% 0 1% 0">
								<button id="search" class="btn btn-default" style="background: #0800E3; color: #fff; font-size: 24px; border-radius: 8px; border: 0">
									Search
								</button>
							</div>
						</div>
					</div>
				</div>
				<!-- end search input -->
			</section>

			<section class="row">
				<div class="col" style="width: 100%">
					<div class="panel panel-default" >
						<div class="panel-heading" style="background: #0800E3; color: #fff; text-align: center;font-size: 24px">
							Search Results
						</div>
					</div>
				</div>

				<!-- begin search results-->
				<div id="resultContainer">
					@if(offers == null){
					<div id="searchResults" style="text-align: center">
						<table id="resultTable" class="table table-striped">
							<tr>
								<td style="text-align: center">Nothing to display.</td>
							</tr>
						</table>
					</div>
					}else{
						@offers
					}
				</div>
			</section>
		</div>
		<!-- End of Container -->

		<!--	//===================================SCRIPTS============================================================================================== -->
		<script>
			$( "#orderattribute" ).change(function() {
  				if( ($('#city').val() != null) && $('#postcode').val() != null && $('#radiusinput').val() != null){
  					queryOffers();
  				}
			});
		

			$('#search').click(function(){
				queryOffers();
			});
			
			function queryOffers(){
				var fromDate = $('#dtpfrominput').val();
				var toDate = $('#dtptoinput').val();
				var city = $('#city').val();
				var postCode = $('#postcode').val();
				var spaceSize = $('#spacesizeinput').val();
				var maxPrice = $('#maxPrice').val();
				var radius = $('#radiusinput').val();
				var orderBy = $('#orderattribute').val(); 
				//alert('space: '+spaceSize);


				// validation
				if (fromDate.length <= 4) {
					fromDate = null;
				}

				if (toDate.length <= 4) {
					toDate = null;
				}

				if (city.length <= 4) {
					city = null;
				}

				if (postCode.length <= 4) {
					postCode = null;
				}

				if ($('#maxPrice').value == '') {
					maxPrice = null;
				}

				if ($('#radiusinput').value == '' || $('#radiusinput').value == $('#radiusinput').defaultValue) {
					raidus = null;
				}

				if (city == null && postCode == null) {
					$("#searchWarning").show();

				} else {
					$("#searchWarning").hide();
					appRoutes.controllers.SearchController.query(fromDate, toDate, city, postCode, spaceSize, maxPrice, radius, orderBy).ajax({
						data : 'html',
						contentType : 'html',
						success : function(data) {
							$("#searchResults").remove();
							$("#resultContainer").append(data);

							scrollToSearchResultTable();
						}
					});
					
					
					//update map data 
					//first: new center
					
					var geocoder = new google.maps.Geocoder();
					var searchAdress = city + ' '+postCode;
					//alert('search adress:'+ searchAdress);
					geocoder.geocode({
											'address' : searchAdress
										}, function(results, status) {
											if (status == google.maps.GeocoderStatus.OK) {
												 var glocation = results[0].geometry.location;
												 var lat = glocation.lat();
												 var lon = glocation.lng();

												var lonLat = new OpenLayers.LonLat(lon,lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
												map.setCenter(lonLat, zoom);
												
												var markerLayer = map.getLayer("400");
												var circleLayer = map.getLayer("100");
																						
												if(circleLayer != null){
													circleLayer.destroy();
												}
												if(markerLayer != null){
													markerLayer.destroy();
												}
												
																		
												var circleradius = radius * 1000 *1.5;
												var point =new OpenLayers.Geometry.Point(lon,lat).transform(new OpenLayers.Projection("EPSG:4326"),new OpenLayers.Projection("EPSG:900913")); 
												var mycircle = OpenLayers.Geometry.Polygon.createRegularPolygon(
    												point,
    												circleradius,
   											 		50,
   											 		0
													);

												var	circlefeature = new OpenLayers.Feature.Vector( mycircle);
				
												circleLayer = new OpenLayers.Layer.Vector("Search radius", {
													units: 'm',
													style: { 
																fillColor : "SkyBlue",
																fillOpacity : 0.3,
																strokeColor : "SkyBlue",
																strokeOpacity : 0.5,
																strokeWidth : 3,								
    												 		}
													});
												
												circleLayer.id = "100";

												circleLayer.addFeatures([circlefeature]);
												map.addLayers([circleLayer]);
												
												//make marker
												markerLayer = new OpenLayers.Layer.Vector("Marker", {
													units: 'm',
													style :{    	
															fillOpacity : 1,														
    														externalGraphic: '@routes.Assets.at("images/pin.png")', 
    														graphicHeight: 25, 
    														graphicWidth: 21, 
    														graphicXOffset: -12, 
    														graphicYOffset: -25 							 	
    														}
													});
												markerLayer.id = "400";		
												var markerpoint = new OpenLayers.Geometry.Point(lon,lat).transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913")); 
				
												var featurePoint = new OpenLayers.Feature.Vector(markerpoint,{
    												style :{externalGraphic: '@routes.Assets.at("images/pin.png")', 
    												}
    												});
												markerLayer.addFeatures([featurePoint]);
												map.addLayers([markerLayer]);
												
												
												//end marker	

											} else {
												alert('Geocode was not successful for the following reason: ' + status);
											}
										});
	
				}

			}
			
			

			function scrollToSearchResultTable() {
				$("#resultContainer")[0].scrollIntoView(true);
			}
		</script>

	</body>
</html>